<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/second.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="players">
        Підключено: <span class="players__counter">0</span>
      </div>
      <div class="create__lobby">
        <input type="text" class="lobby__code" placeholder="Enter your code" />
        <button class="shuffle">↻</button>
      </div>
      <button class="create">Create Lobby</button>
      <div class="enter">
        <input type="text" class="enter__code" placeholder="Enter your code" />
      </div>
      <button class="join">Join Lobby</button>
    </div>
    <script src="/js/game.js"></script>
  </body>
</html>
